<script>
     let actualYear = new Date().getFullYear();
</script>

<style>
    .Footer {
      font-size: 11px;
      letter-spacing: 1px;
      font-weight: normal;
      color: #c7c7c7;
    }
</style>

<div class="Footer">
    <div class="Footer-container">
        <div class="Footer-copy">
            <small>© { actualYear } PUGSTAGRAM</small>
        </div>
    </div>
</div>